<div class="col-lg-12">
  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email Address</th>
        <th>Created on</th>
        <th>Updated on</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users">
        <td><a ui-sref="user.detail({ id: user.id })">{{user.username}}</a></td>
        <td>{{user.email}}</td>
        <td>{{user.createdAt | date : 'short' }}</td>
        <td>{{user.updatedAt | date : 'short' }}</td>
        <td>
          <ul class="inline-table-list">
            <li><button class="btn btn-info" alt="Reset Password" ng-click="resetPassword()" disabled><i class="fa fa-lg fa-history"></i></button></li>
            <li><a ui-sref="user.status({ id: user.id })" class="btn" ng-class="{'btn-success': user.active, 'btn-warning': !user.active }" disabled><i class="fa fa-lg fa-power-off"></i></a></li>
            <li><button class="btn btn-danger" text="are you sure you want to delete the user '{{user.username}}' ?" title="Delete User" confirm="deleteItem($index, user)" ng-disabled="user.id === CurrentUser().id"><i class="fa fa-lg fa-trash"></i></button></li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <a ui-sref="user.create" class="btn btn-large btn-success" disabled>Add New user</a>
</div>
