<div class="row">
  <div class="col-md-8">
    <h3>{{location.name}}</h3>
  </div>
  <div class="col-md-4">
    <div class="row">
      <h3>Tags</h3>
      <div class="tagsContainer">
        <ul class="inline-table-list" ng-show="location.tags.length">
          <li ng-repeat="tag in location.tags"><span class="label label-info">{{tag.name}}</span></li>
        </ul>
        <span ng-hide="location.tags.length">No Tags yet</span>
      </div>
    </div>
    <div class="row">
      <h3>Comments</h3>
      <div class="commentsContainer" comment object="location.id" object-type="location"></div>
    </div>
  </div>
</div>
<div class="row" ng-show="location.racks">
  <div class="col-lg-12"><h3>Associated Racks</h3></div>
</div>
<div class="row" ng-show="location.racks">
  <div class="col-lg-12">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Items</th>
          <th>Tags</th>
          <th>Created on</th>
          <th>Updated on</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="rack in location.racks">
          <td><a ui-sref="rack.detail({ id: rack.id })">{{rack.name}}</a></td>
          <td>{{rack.size}}u</td>
          <td>
            <ul class="inline-table-list">
              <li ng-repeat="item in rack.items"><a ui-sref="item.detail({ id: item.id })">{{item.name}}</a>, </li>
            </ul>
          </td>
          <td>
            <ul class="inline-table-list">
              <li ng-repeat="tag in rack.tags"><span class="label label-info">{{tag.name}}</span></li>
            </ul>
          </td>
          <td>{{ rack.createdAt| date : 'short' }}</td>
          <td ng-show="rack.updatedAt">{{ rack.updatedAt | date : 'short' }}<td>
            <ul class="inline-table-list">
              <li><button class="btn btn-info" data-toggle="modal" data-target="#view-history-<%= rack.id %>"><i class="fa fa-lg fa-history"></i></button></li>
              <li><a href="/rack/update/<%= rack.id %>" class="btn btn-warning"><i class="fa fa-lg fa-pencil"></i></a></li>
              <li><button class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete-<%= rack.id %>"><i class="fa fa-lg fa-trash"></i></button></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
