body {
  padding-top: 90px;
}

.form-signin {
  max-width: 280px;
  padding: 15px;
  margin: 0 auto;
    margin-top:50px;
}
.form-signin .form-signin-heading, .form-signin {
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-color: #000;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: rgb(0,0,0);
  border-top:1px solid rgba(0,0,0,0.08);
}

.inline-table-list{
  list-style: none;
  padding:0;
  margin:0;
}
.inline-table-list li {
  display: inline;
}
.tag, .field{
  padding-right:10px;
}
.comment {
  background-color: #F9F9F9;
  padding: 10px;
  border-bottom: 1px solid #CCCCCC;
}
.comment:last-child{
  border-bottom: 0;
}
.commentDateTime{
  font-style:italic;
  text-align:right;
}
.comment p{
  word-wrap: break-word;
}

.rackRowContainer{
  background-color:#EFEFEF;
  border-bottom:1px solid #E3E3E3;
  text-align: center;
  margin-bottom: 1px;
}

.rackItem{
  background-color: #DCDCDC;
  border-bottom: 1px solid #3C3C3C;
}

.rackItem .has-item{
  background-color: #00D8FF;
  border-bottom: 1px solid #00C2EF;
}

.rackNumbers{
  float:left;
}
.rackNumber{
  width:40px;
  background-color: #333333;
  color: #EFEFEF;
  margin:0;
}

.rackRowSize-1 {
  height:40px;
  line-height: 40px;
}
.rackRowSize-1 > .rackNumbers > .rackNumber {
  line-height: 40px;
}

.rackRowSize-2 {
  height:60px;
  line-height: 60px;
}
.rackRowSize-2 > .rackNumbers > .rackNumber {
  line-height: 30px;
}

.rackRowSize-3 {
  height:81px;
  line-height: 81px;
}
.rackRowSize-3 > .rackNumbers > .rackNumber {
  line-height: 27px;
}

.rackRowSize-4 {
  height:100px;
  line-height: 100px;
}
.rackRowSize-4 > .rackNumbers > .rackNumber {
  line-height: 25px;
}
